# Excel / csv
*.xls

*.xlsm
*.xltm
*.xlsx
*.csv

# PDF
*.pdf


# Word
*.doc

*.docx


# text
*.txt
# pictures
*.gif

*.png

*.jpg
*.jpeg
*.html

# MATLAB data
*.mat

# temporary files
*.asv

# MATLAB related formats
*.prj
*.mexw64
*.css
*.js